Vagrantfile
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

npm-debug.log
yarn-error.log
logs
*.log
.env
.env.bak*
.DS_STORE
*~
*.swp
.nfs*
.Trash-*
.fuse_hidden*


/public/mix-manifest.json
#/public/css

/public/fonts
/public/avatars
/public/header
/public/galleries
/public/upload
public/images/**
/storage

storage/logs
storage/logs/laravel.log

composer.phar
.rocketeer/

# Laravel 5 & Lumen specific
public/storage
public/hot
.env.*.php
.env.php
.env

public/avatars
public/header
public/galleries
public/upload
public/front_photos/

resources/views/emails/templates/template1.html
resources/views/emails/templates/mjml/template1.mjml

old_node_modules/

public/conversations/

public/guildfiles/

# netbeans
nbproject
/nbproject/private/

 
.phpunit.result.cache
.DS_Store
**/*.log


